<!-- Contact Section BEGIN -->
<section id="contact" class="scroll-section root-sec brand-bg padd-tb-120 contact-wrap">
    <div class="container">
        <div class="row">
            <div class="contact-inner">
                <div class="col-sm-12 card-box-wrap">
                    <div class="row">
                        <div class="clearfix section-head contact-text">
                            <div class="col-sm-12">
                                <h2 class="title">Comofas</h2>
                                <p class="regular-text">Projeto composto por crowlers que navegam pelos principais sites que distribuem jogos online e os indexam aqui, fazendo um formidável compilado.</p><br/>
                                <h4>Sites indexados:</h4>
                                <ul class="clearfix contact-info">
                                    <li>
                                        <a href="https://www.nuuvem.com.br" target="_blank">
                                            Nuuvem
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.reddit.com/r/FreeGamesOnSteam/" target="_blank">
                                            Reddit
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://www.indiegamebundles.com/tag/free-steam-key/" target="_blank">
                                            Indie Game Bundles
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div> <!-- contact text end -->

                        <div class="clearfix contact-form" align="center">
                            <a href="https://github.com/Kidoncio/austeridade">
                                <div class="col-sm-4">
                                    <div class="clearfix card-panel grey lighten-5 cform-wrapper">
                                        <ul class="contact-info">
                                            Contribua
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ./container end -->
    <div class="section-call-to-area">
        <div class="container">
            <div class="row">
                <a href="#home" class="btn-floating btn-large button-middle call-to-home section-call-to-btn animated btn-up btn-hidden" data-section="#home">
                    <i class="mdi-navigation-expand-less"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- #contact Section END -->

<!-- Footer Section end -->
<footer id="footer" class="root-sec white root-sec footer-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="clearfix footer-inner">
                    <ul class="left social-icons">
                        <li style="color: #b2b1a1">
                            Projeto criado com o intuíto de apenas aprender a mágica por de trás dos crowlers. Caso ache útil, sinta-se livre para contribuir :D
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- ./container end-->
</footer>
<!-- #footer end -->

</main>
<!-- Main Container end-->


<!-- JavaScripts -->
<script src="javascripts/googleanalytics.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="javascripts/jquery.easing.1.3.js"></script>
<script src="javascripts/detectmobilebrowser.js"></script>
<script src="javascripts/isotope.pkgd.min.js"></script>
<script src="javascripts/wow.min.js"></script>
<script src="javascripts/waypoints.js"></script>
<script src="javascripts/jquery.counterup.min.js"></script>
<script src="javascripts/jquery.nicescroll.min.js"></script>
<script src="libs/owl-carousel/owl.carousel.min.js"></script>
<script src="libs/materialize/js/materialize.min.js"></script>
<script src="libs/jwplayer/jwplayer.js"></script>
<script src="libs/sweetalert/sweet-alert.min.js"></script>
<script src="javascripts/common.js"></script>
<script src="javascripts/main.js"></script>

<script src="javascripts/serviceworker/service-worker.js"></script>
</body>

    </html>